USE [pokedex_temp]
GO
/****** Object:  Table [dbo].[Pokemons]    Script Date: 05/07/2023 09:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pokemons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](25) NOT NULL,
	[PokedexNumber] [int] NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[EvolutionStage] [int] NOT NULL,
	[EvolutionLine] [nvarchar](max) NOT NULL,
	[IsStarter] [bit] NOT NULL,
	[IsLegendary] [bit] NOT NULL,
	[IsMythical] [bit] NOT NULL,
	[IsUltraBeast] [bit] NOT NULL,
	[IsMega] [bit] NOT NULL,
	[UrlImage] [nvarchar](max) NOT NULL,
	[RegionId] [int] NOT NULL,
 CONSTRAINT [PK_Pokemons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regions]    Script Date: 05/07/2023 09:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_Regions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Pokemons] ON 

INSERT [dbo].[Pokemons] ([Id], [Name], [PokedexNumber], [Type], [Description], [EvolutionStage], [EvolutionLine], [IsStarter], [IsLegendary], [IsMythical], [IsUltraBeast], [IsMega], [UrlImage], [RegionId]) VALUES (1, N'Bulbasaur', 1, N'Grass,Poison', N'While it is young, it uses the nutrients that are stored in the seeds on its back in order to grow.', 1, N'Bulbasaur,Ivysaur,Venusaur', 1, 0, 0, 0, 0, N'https://firebasestorage.googleapis.com/v0/b/pokedex-28a17.appspot.com/o/pokedex%2F1.png?alt=media', 1)
INSERT [dbo].[Pokemons] ([Id], [Name], [PokedexNumber], [Type], [Description], [EvolutionStage], [EvolutionLine], [IsStarter], [IsLegendary], [IsMythical], [IsUltraBeast], [IsMega], [UrlImage], [RegionId]) VALUES (2, N'Ivysaur', 2, N'Grass,Poison', N'The bulb on its back grows as it absorbs nutrients. The bulb gives off a pleasant aroma when it blooms.', 2, N'Bulbasaur,Ivysaur,Venusaur', 0, 0, 0, 0, 0, N'https://firebasestorage.googleapis.com/v0/b/pokedex-28a17.appspot.com/o/pokedex%2F2.png?alt=media', 1)
INSERT [dbo].[Pokemons] ([Id], [Name], [PokedexNumber], [Type], [Description], [EvolutionStage], [EvolutionLine], [IsStarter], [IsLegendary], [IsMythical], [IsUltraBeast], [IsMega], [UrlImage], [RegionId]) VALUES (3, N'Venusaur', 3, N'Grass,Poison', N'As it warms itself and absorbs the sunlight, its flower petals release a pleasant fragrance.', 3, N'Bulbasaur,Ivysaur,Venusaur', 0, 0, 0, 0, 0, N'https://firebasestorage.googleapis.com/v0/b/pokedex-28a17.appspot.com/o/pokedex%2F3.png?alt=media', 1)
GO
SET IDENTITY_INSERT [dbo].[Pokemons] OFF
GO
SET IDENTITY_INSERT [dbo].[Regions] ON 

INSERT [dbo].[Regions] ([Id], [Name]) VALUES (1, N'Kanto')
INSERT [dbo].[Regions] ([Id], [Name]) VALUES (2, N'Johto')
INSERT [dbo].[Regions] ([Id], [Name]) VALUES (3, N'Hoenn')
SET IDENTITY_INSERT [dbo].[Regions] OFF
GO
ALTER TABLE [dbo].[Pokemons]  WITH CHECK ADD  CONSTRAINT [FK_Pokemons_Regions_RegionId] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Regions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pokemons] CHECK CONSTRAINT [FK_Pokemons_Regions_RegionId]
GO
